#*mangle
#
#:PREROUTING  ACCEPT [0:0]
#:INPUT       ACCEPT [0:0]
#:FORWARD     ACCEPT [0:0]
#:OUTPUT      ACCEPT [0:0]
#:POSTROUTING ACCEPT [0:0]
#
## FORWARD chain
## -------------
##
## Mark conntracked packets forwarded between downlinks for future use.
##
##-A FORWARD -m conntrack ! --ctstate UNTRACKED -m devgroup --src-group 0x2/0xf --dst-group 0x2/0xf -j MARK --set-xmark 0x7fff0001/0xffffffff
#
#COMMIT
